.imgResize {
	overflow:hidden;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
	width:90px;
	height:90px;
}

.card {
	background: #fff;
	display: inline-block;
	border: 1px solid #ddd;
  }

  .image {
	float: left;
	background: #000;
	width: 25%;
	height: 150px
  }

  .content {
	float: right;
	height: 140px;
	width: 73%;
	overflow: hidden;
	padding: 5px;
  }

  .content h4 {
	margin: 5px 0;
  }