body, html {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Raleway', sans-serif;
}
h1,p{
position:relative;
top:150px;
left:45px;
}
.container-fluid {
	padding: 0;
}
.header {
	background-color: black;
	height: 60px;
	line-height: 60px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  overflow: hidden;
}
.logo {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	float:left;
}

.imgUser {
		overflow:hidden;
		-webkit-border-radius:50px;
		-moz-border-radius:50px;
		border-radius:50px;
		width:90px;
		height:90px;
}
.menu {
	float: right;
}
.menu a {
	color: #ffffff;
	margin-right: 20px;

}
.menu a:hover {
	color: #2C3E50;
}
/*.separator-body {
	height: 2px;
	width: 10%;
	border: none;
	box-shadow: none;
	background-color: black;
	position:relative;
	top:129px;
	right:810px;

}*/
